[build-system]
requires = [ "setuptools >= 44", "wheel >= 0.34.0"]
build-backend = "setuptools.build_meta"

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py27,py35,py36,py37,py38,py39,pypy,pypy3
skipsdist = True

[testenv]
deps = pytest >= 3.0.0, <4
commands = pytest test/test.py
"""
